<div class="hero-section">
  <div class="relative px-6 lg:px-8">
    <div class="mx-auto max-w-3xl pt-20 pb-32 sm:pt-48 sm:pb-40">
      <div>
        <div>
          <h1 class="text-4xl text-white font-bold tracking-tight sm:text-center sm:text-6xl">Looking for the perfect dog?</h1>
          <p class="mt-6 text-lg leading-8 text-white sm:text-center">See which breed you fit best with by taking our short 15 question survey.</p>
          <div class="mt-8 flex gap-x-4 sm:justify-center">
            <%= link_to 'Get Started', new_survey_path, class: 'inline-block rounded-lg bg-indigo-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>