<div class="mx-auto lg:w-3/4 max-w-screen-xl px-4 py-16 sm:px-0 xs:px-0 lg:px-8">
  <div class="mx-auto sm:mx-0 sm:px-0 max-w-screen-xl">
    <%= link_to 'Return back home', root_path %>
    <div>
      <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">
        Thanks, <%= @survey.name_input %>. Here is your result :)
      </h1>
      <p class="mx-auto mx-2 sm:mx-0 mt-4 w-full text-center text-gray-500">
        These results are an estimation of the best dog breed for you.
      </p>
    </div>
    <div class="mt-6 mb-0 space-y-4 bg-white rounded-lg p-8 shadow-md">
      <h1 class="text-2xl font-bold text-gray-600 sm:text-4xl mb-5">
        Your top match
      </h1>
      <%= render partial: 'result', locals: { breed: @first_breed } %>
    </div>
  </div>
</div>