<div class="mx-auto lg:w-3/4 max-w-screen-xl px-4 py-16 sm:px-0 xs:px-0 lg:px-8">
  <div class="mx-auto sm:mx-0 sm:px-0 max-w-screen-xl">
    <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">
      Thanks, <%= @survey.name_input %>. Here are your results :)
    </h1>

    <p class="mx-auto mt-4 max-w-md text-center text-gray-500">
      These results are an estimation of the best dog breed for you.
    </p>
    <div class="mt-6 mb-0 space-y-4 rounded-lg p-8 shadow-md">
      <h1 class="text-2xl font-bold text-gray-600 sm:text-4xl mb-5">
        Your top match
      </h1>
      <%= render partial: 'result', locals: { breed: @first_breed } %>
    </div>
    <% unless @second_breed.nil? %>
      <div class="mt-6 mb-0 space-y-4 rounded-lg p-8 shadow-md">
        <h1 class="text-2xl font-bold text-gray-600 sm:text-4xl mb-5">
          Your second match
        </h1>
        <%= render partial: 'result', locals: { breed: @second_breed } %>
      </div>
    <% end %>
    <% unless @third_breed.nil? %>
      <div class="mt-6 mb-0 space-y-4 rounded-lg p-8 shadow-md">
        <h1 class="text-2xl font-bold text-gray-600 sm:text-4xl mb-5">
          Your third match
        </h1>
        <%= render partial: 'result', locals: { breed: @third_breed } %>
      </div>
    <% end %>
  </div>
</div>